h1{
color:snow;
font-size:70px;
font-family: Helvetica,sans-sefif;
text-align: center;
}
h2{
color: darkblue
font-family: sans-serif;
text-align:right

}

h3{
font-family: cursive;
}

table{
font-family: cursive;
border-collapse:collapse;
border-color:blueviolet;
border-width:auto;
}

p{
font-weight:100;
text-decoration:line-through;

}
th{font-weight: 800;
background-color:#2695A6;
color:black;

}